@import './base.css';

#app {
  height: 100vh;
  padding: 0 1rem;
  font-family: consolas, monospace;
  display: flex;
  flex-direction: column;
}

.router-link-active {
  color: #42b983 !important;
}

@media (max-width: 768px) {
  .flex-responsive {
      flex-direction: column;
  }
}
