@import './base.css';

#app {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.router-link-active {
  color: #42b983 !important;
}


.flex-responsive-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-responsive-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .flex-responsive-column {
    flex-direction: row;
  }

  .flex-responsive-row {
    flex-direction: column;
  }
}